<section class="" style="background-color: #fff">
     <footer class="text-center text-white">
          <div class="container p-4 pb-0">
               <section class="">
                    <p class="d-flex justify-content-center align-items-center" style="color: #000"></p>
               </section>
          </div>

          <div class="text-center text-black p-3" style="color: #8f8f8f; font-weight: 400">
               © 2023 Copyright:
               <a href="https://repositree.io/">Repositree.io</a>
               <p style="float: right">Tearms and Condition</p>
          </div>
     </footer>
</section>
