<br /><br />
<div class="ifno">
     <div class="container">
          <div class="row">
               <div class="col-12 col-lg-6 col-md-6 col-xs-6">
                    <h4>
                         Next-Gen Technology Platform for
                         <span>
                              <br />
                              Commercial Real Estate Brokers
                         </span>
                    </h4>
               </div>
               <div class="col-12 col-lg-6 col-md-6 col-xs-6">
                    <p>We eliminate hours spent on sourcing options, analyzing cash flow, and gathering actionable insights for all our stakeholders across the Real Estate spectrum. We deploy custom-built tech and AI-driven analytics to get the correct data before you set up a deal.</p>
                    <ul>
                         <li>
                              <button class="common-btn">Explore</button>
                         </li>
                         <li>
                              <button class="signup-btn">Get Started</button>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</div>
