<div class="app-features">
     <div class="features-background-image">
          <img src="/assets/images/app-features/features-background.jpg" alt="app-features" />
     </div>
     <div class="container">
          <div class="row">
               <div class="col-md-4 col-xs-4 col-lg-4 col-12">
                    <div class="features-box1">
                         <h4>
                              Accelerated Data <br />
                              Accelerated Growth
                         </h4>
                         <p>
                              We deliver real data that is accessible round the clock and gives you an edge across the dynamic space of Commercial Real Estate. Sourced directly from pre-verified locations all over NCR, our automated and comprehensive data collection makes all the difference in each
                              deal being a profitable deal.
                         </p>
                    </div>
               </div>
               <div class="col-md-4 col-xs-4 col-lg-4 col-12">
                    <div class="features-box2">
                         <h4>
                              Direct Listings <br />
                              Dynamic Dashboard
                         </h4>
                         <p>We generate real-time analytics and customer behavioral analysis to deliver valuable insights to your client demographic. Compiled and contained within a laid-out dashboard, Our data creates distinction in all aspects of customer relations.</p>
                    </div>
               </div>
               <div class="col-md-4 col-xs-4 col-lg-4 col-12">
                    <div class="features-box3">
                         <h4>
                              Simplified Statistics <br />
                              Systematic Success
                         </h4>
                         <p>Our automated data collection system is a streamlined process that begins with sourcing commercial listings and verifying them on the pretext of a stringent checklist. By reducing documentation, we provide greater yield and instant query resolution.</p>
                    </div>
               </div>
          </div>
     </div>
</div>
