<div class="app-guideline">
     <div class="container">
          <div class="row">
               <div class="col-12 col-md-12 col-xs-12 col-lg-12">
                    <div class="services-guide-heading">
                         <h4>A step-by-step guide to get you started</h4>
                         <p>for Property Consultants</p>
                    </div>
                    <ul>
                         <li>
                              <h6>Step 1</h6>
                              <p>Fill up the form by entering your requirement.</p>
                              <span></span>
                         </li>
                         <li>
                              <h6>Step 2</h6>
                              <p>Add any shortlisted properties to your smart list.</p>
                              <span></span>
                         </li>
                         <li>
                              <h6>Step 3</h6>
                              <p>Close the transaction and finish up the process.</p>
                              <span></span>
                         </li>
                         <li>
                              <h6>Step 4</h6>
                              <p>Create and analyze the Cash Flow of your business dealings.</p>
                              <span></span>
                         </li>
                         <li>
                              <h6>Step 5</h6>
                              <p>Compare shortlisted properties with all relevant details.</p>
                              <span></span>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</div>
