<nav class="navbar">
     <span class="navbar-brand brand navlink h-75" routerLink="https://repositree.io/">Repositree</span>
     <span class="text-sm navlink h-75 navlink">HOME</span>
     <span class="text-sm navlink h-75">LISTINGS</span>
     <span class="text-sm navlink h-75">PRICING</span>
     <span class="text-sm navlink h-75">CONTACT US</span>
     <span class="text-sm navlink h-75">LIST YOUR PROPERTY</span>
     <span class="text-sm navlink h-75">BOOK A DEMO</span>
     <button (click)="openLoginDialog()" class="text-sm navlink h-75 login">LOGIN</button>
     <button class="text-sm h-75">Get Started</button>
</nav>
