<div class="app-services">
     <div class="container">
          <div class="row">
               <div class="col-md-12 col-xs-12 col-lg-12 col-12">
                    <div class="contant-header">
                         <h4>Our Services</h4>
                    </div>
               </div>
          </div>
     </div>
     <div class="container">
          <div class="row">
               <div class="col-12 col-lg-12 col-md-12 col-xs-12"></div>
               <div class="app-services-box1">
                    <div class="container">
                         <div class="row">
                              <div class="col-12 col-lg-6 col-md-6 col-xs-6">
                                   <div class="app-service-image1">
                                        <img src="https://d3nn873nee648n.cloudfront.net/1200x1800-new/12872/SM564690.jpg" alt="" />
                                   </div>
                              </div>
                              <div class="col-12 col-lg-6 col-md-6 col-xs-6">
                                   <div class="app-service-content1">
                                        <h4>
                                             Access Verified Listings before
                                             <span> you can say HELLO! </span>
                                        </h4>
                                        <ul>
                                             <li>✓ &nbsp; Real-time collection and addition of new locations</li>
                                             <li>✓ &nbsp; Floor plan, Auto CAD, and property details are readily available</li>
                                             <li>✓ &nbsp; Number of units available is specified with per unit designated space</li>
                                        </ul>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="container">
          <div class="row">
               <div class="col-12 col-md-12 col-lg-12 col-xs-12 p-0">
                    <div class="app-services-box2">
                         <div class="container">
                              <div class="row column-reverse">
                                   <div class="col-12 col-lg-6 col-md-6 col-xs-6">
                                        <div class="app-service-content2">
                                             <h4>
                                                  Tools and Utilities best suited
                                                  <span> for brokers </span>
                                             </h4>
                                             <ul>
                                                  <li>✓ &nbsp; Advanced tools to arrive at the best-informed decision</li>
                                                  <li>✓ &nbsp; Complete Cash Flow analysis</li>
                                                  <li>✓ &nbsp; Calculating Amortisation cost</li>
                                                  <li>✓ &nbsp; Pin Code analysis with geographically precise listings</li>
                                                  <li>✓ &nbsp; Access to templates for Commercial Real Estate documents (MOU, leasing, etc.)</li>
                                             </ul>
                                        </div>
                                   </div>
                                   <div class="col-12 col-lg-6 col-md-6 col-xs-6">
                                        <div class="app-service-image2">
                                             <img src="https://d3nn873nee648n.cloudfront.net/1200x1800-new/7343/SM286222.jpg" alt="service-image" />
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="container">
          <div class="row">
               <div class="col-12 col-lg-12 col-md-12 col-xs-12"></div>
               <div class="app-services-box3">
                    <div class="container">
                         <div class="row">
                              <div class="col-12 col-lg-6 col-md-6 col-xs-6">
                                   <div class="app-service-image3">
                                        <img src="https://d3nn873nee648n.cloudfront.net/1200x1800-new/17314/SM835825.jpg" alt="" />
                                   </div>
                              </div>
                              <div class="col-12 col-lg-6 col-md-6 col-xs-6">
                                   <div class="app-service-content3">
                                        <h4>
                                             Show me the
                                             <span>Analytics!</span>
                                        </h4>
                                        <ul>
                                             <li>✓ &nbsp; Secure access to a Smart List generated based on your client’s requirement</li>
                                             <li>✓ &nbsp; Analysis of customer behavior for efficient conversion rate</li>
                                             <li>✓ &nbsp; Plan and manage your credit usage history for maximum growth</li>
                                        </ul>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
