<div class="wrapper fadeInDown">
     <div id="formContent">
          <div class="fadeIn first">
               <img src="https://www.iconpacks.net/icons/1/free-user-login-icon-305-thumb.png" id="icon" alt="User Icon" />
          </div>

          <form>
               <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" />
               <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" />
               <input type="submit" class="fadeIn fourth" value="Log In" />
          </form>

          <div id="formFooter">
               <a class="underlineHover" href="#">Forgot Password?</a>
          </div>
     </div>
</div>
