<div class="app-about">
     <div class="container">
          <div class="row align-item">
               <div class="col-lg-5">
                    <div class="app-about-img">
                         <img src="https://images.pexels.com/photos/2763969/pexels-photo-2763969.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="aboutUs-image" />
                    </div>
               </div>
               <div class="col-lg-7">
                    <div class="app-about-desc">
                         <h2>About Us</h2>
                         <br /><br />
                         <p>
                              Welcome to Repositree, the leading platform for commercial real estate brokers in India. We are a team of passionate professionals with extensive experience in the real estate industry. We are committed to helping brokers succeed by providing them with the tools and
                              resources they need to excel.
                         </p>
                         <br />
                         <p>
                              Our platform is designed to simplify the process of finding and managing commercial real estate deals. We offer a comprehensive database of existing properties, along with advanced search tools that allow brokers to quickly find the properties that meet their clients'
                              needs. Our platform also provides brokers with access to valuable market data, including property valuations, rental rates, and market trends.
                         </p>
                         <br />
                         <p>
                              At Repositree, we understand that success in the real estate industry requires more than just access to information. That's why we also provide brokers with a suite of tools that they can use to streamline their day-to-day operations. Our platform includes features like
                              deal management, CRM integration, and commission tracking, all designed to help brokers save time and work more efficiently.
                         </p>
                    </div>
               </div>
          </div>
     </div>
</div>
<br /><br /><br /><br />
<app-app-news></app-app-news>
