.find-property {
     position: relative;

     .property-search-image {
          img {
               display: block;
               width: 100%;
               height: 50vh;
               filter: brightness(0.7);
          }
     }

     .search-heading {
          position: absolute;
          bottom: 8.5em;
          left: 0;
          width: 100%;
          height: 100%;
          font-size: 34px;
          font-weight: 600;
          display: flex;
          font-family: 'Playpen Sans', cursive;
          align-items: center;
          justify-content: center;
          color: #fff;
     }
     .main-search-tag {
          position: relative;
          max-width: 900px;
          margin: 0 auto;
          display: table;
          bottom: 14.5em;
          width: 100%;

          .location {
               vertical-align: middle;
               position: absolute !important;
               width: 10px !important;
               top: 50% !important;
               transform: translateY(-50%) !important;
               left: 18px !important;
          }

          select {
               position: absolute;
               left: 30px;
               top: 50%;
               transform: translateY(-50%);
               border: 0;
               background-color: transparent;
               font-weight: 400;
               width: 110px;
               outline: none;
          }

          .search-logo {
               position: absolute !important;
               left: 170px !important;
               border: 0 !important;
               background-color: transparent !important;
               top: 50% !important;
               transform: translateY(-50%) !important;
               color: #919eab7d !important;
               width: 110px !important;
               font-weight: 900 !important;
          }

          input {
               width: 100%;
               height: 50px;
               border-radius: 30px;
               border: 0;
               padding-left: 200px;
               padding-right: 170px;
               outline: none;
               box-shadow: unset;
               margin: 0;
               font-family: inherit;
               font-size: inherit;
               line-height: inherit;
          }

          button {
               cursor: pointer;
               position: absolute;
               right: 4px;
               top: 50%;
               transform: translateY(-50%);
               border: 0;
               background-color: #38966c;
               border-radius: 50px;
               color: #fff;
               padding: 9px 36px;
          }
     }
}
