<div class="find-property">
     <div class="property-search-image">
          <img src="/assets/images/property-search/wallpaper.jpg" alt="search your property" />
     </div>

     <div class="container">
          <div class="row">
               <div class="col-12 col-lg-12 col-md-12 col-xs-12">
                    <h4 class="search-heading">Looking for an Office Space for your Client ?</h4>
                    <form action="">
                         <div class="main-search-tag">
                              <i class="fas fa-map-marker-alt location"></i>
                              <select name="" id="">
                                   <option selected value="1">Gurugram</option>
                                   <option value="2">Delhi</option>
                                   <option value="3">Noida</option>
                              </select>
                              <i class="fas fa-search search-logo"></i>
                              <input type="text" placeholder="Search for locality, landmark, project or builder" />
                              <button type="submit" class="submit-btn"></button>
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>
