<div class="find-property">
     <div class="property-search-image">
          <img src="/assets/images/property-search/wallpaper.jpg" alt="search your property" />
     </div>

     <div class="container">
          <div class="row">
               <div class="col-12 col-lg-12 col-md-12 col-xs-12">
                    <h4 class="search-heading">Looking for an Office Space for your Client ?</h4>
                    <form action="">
                         <div class="main-search-tag">
                              <i class="fas fa-map-marker-alt location"></i>
                              <select name="" id="">
                                   <option selected value="1">Gurugram</option>
                                   <option value="2">Delhi</option>
                                   <option value="3">Noida</option>
                              </select>
                              <i class="fas fa-search search-logo"></i>
                              <input type="text" placeholder="Search for locality, landmark, project or builder" />
                              <button type="submit" routerLink="/home" class="submit-btn">Submit</button>
                         </div>
                    </form>
                    <!-- Drop Down -->
                    <div class="dropdown-opt">
                         <div class="dropdown micromar-filter-options">
                              <button class="btn headline dropdown-button btn-light dropdown-toggle" type="button" data-toggle="dropdown">&nbsp; Micromarcket &nbsp;</button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                   <a class="dropdown-item" href="#">Action</a>
                                   <a class="dropdown-item" href="#">Another action</a>
                                   <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                         </div>
                         <div class="dropdown category-filter-options">
                              <button class="btn headline dropdown-button btn-light dropdown-toggle" type="button" data-toggle="dropdown">&nbsp; Category &nbsp;</button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                   <a class="dropdown-item" href="#">Action</a>
                                   <a class="dropdown-item" href="#">Another action</a>
                                   <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                         </div>
                         <div class="dropdown tos-filter-options">
                              <button class="btn headline dropdown-button btn-light dropdown-toggle" type="button" data-toggle="dropdown">&nbsp; Types of Space &nbsp;</button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                   <a class="dropdown-item" href="#">Action</a>
                                   <a class="dropdown-item" href="#">Another action</a>
                                   <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                         </div>
                         <div class="dropdown rent-rng-filter-options">
                              <button class="btn headline dropdown-button btn-light dropdown-toggle" type="button" data-toggle="dropdown">&nbsp; Rent Range &nbsp;</button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                   <a class="dropdown-item" href="#">Action</a>
                                   <a class="dropdown-item" href="#">Another action</a>
                                   <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                         </div>
                         <div class="dropdown area-filter-options">
                              <button class="btn headline dropdown-button btn-light dropdown-toggle" type="button" data-toggle="dropdown">&nbsp; Area In Sq-Ft &nbsp;</button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                   <a class="dropdown-item" href="#">Action</a>
                                   <a class="dropdown-item" href="#">Another action</a>
                                   <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<app-buildings></app-buildings>
